<% if !@library.nil? %>
<div style="padding-top: 20px;">
	<div class="stats-label">
		<div>Your Favorites</div>
	</div>
	<div style="float:right;width:700px;" id="browser">
		<table cellspacing="0" cellpadding="0">
			<tr>
				<th>Song</th>
				<th>Artist</th>
				<th>Album</th>
				<th>Played</th>
			</tr>
			<% limit = params[:n] || 10 %>
			<% @library.top_tracks_by_play_count(limit).each do |track| %>
			<tr>
				<td width="180px">
					<%= link_to truncate(track.name, :length => 25), "/artists/" + track.artist + "/_/" + track.name %>
				</td>
				<td width="190px">
					<% if track.artist == "" %>
						&nbsp;
					<% else %>
						<%= link_to truncate(track.artist, :length => 25), artist_path(:id => track.artist) %>
					<% end -%>
				</td>
				<td><%= truncate(track.album, :length => 36) %>&nbsp;</td>
				<td width="20px"><%= track.play_count %></td>
			</tr>
			<% end %>
		</table>
		<div style="margin-top:10px;">
		<%= link_to_remote "<span>More</span>", :update => "fav", :url => user_path(:n => limit.to_i+10) , :method => :get, :html => { :class  => "minibutton" } %>
		</div>
	</div>
</div>
<div style="clear: both;"></div>
<% end %>