<div style="background-color:#FFFDEA; padding:10px;">
	<% if !@user.file_uploaded_at.nil? %>
	<div id="file-status" style="float: right;padding-top:5px;">
		<div style="color:#999999; font-size:12px;">iTune file uploaded</div>
		<div style="color:#495961; font-size:22px;">
			<%= time_ago_in_words(@user.file_uploaded_at) %> ago
		</div>
	    <div style="padding-top:5px;">
			<a class="minibutton" href="javascript:showUpload();"><span>Refresh</span></a>
		</div>
	</div>
	<%= render(:partial => "upload", :locals => {:display => "none"}) %>
	<% else %>
	<%= render(:partial => "upload", :locals => {:display => "block"}) %>
	<% end -%>
	<div style="float:left; margin-right:10px;"><%= image_tag @user.gravatar, :title => "Your Gravatar Image" %></div>
	<div style="padding: 10px;">
		<div style="color:#495961; font-size:30px; font-weight:bold;"><%= @user.name %></div>
		<div style="color:#999999; font-size:12px;">Member Since <%= @user.created_at.to_date.to_s(:long) %></div>		
	</div>
	<div style="clear:both;"></div>
</div>