<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
  <title>Your Music Explorer</title>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
  <% if flash[:notice] -%>
  	<div class="notify"><%= flash[:notice] %></div>
  <% end -%>
  <div class="banner">
  	<div class="header">
		<div class="logo"><%= image_tag("logo.gif") %></div>
		<% if logged_in? %>
		<div class="userbox">
			<div class="inner">
				<%= link_to "Log Out", sessions_path, :method => :delete %>
			</div>
		</div>
		<% end -%>
	</div>
  </div>
  <div class="content">
    <%= yield %>
  </div>
</body>
</html>